<div class="row">
  <div class="col-md-4">
    <h1>Sign up</h1>
    <hr />
    <br />
    <form (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input
          [(ngModel)]="registerCredentials.username"
          name="username"
          type="text"
          autocomplete="username"
          required
          class="form-control"
          id="username"
          placeholder="enter your username"
        />
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input
          [(ngModel)]="registerCredentials.email"
          name="email"
          type="email"
          required
          class="form-control"
          id="email"
          placeholder="enter your email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          [(ngModel)]="registerCredentials.password"
          name="password"
          type="password"
          autocomplete="new-password"
          required
          class="form-control"
          id="password"
          placeholder="enter a password"
        />
      </div>
      <div class="form-group">
        <label for="repeat-password">Repeat password</label>
        <input
          [(ngModel)]="registerCredentials.repeatPassword"
          name="repeat-password"
          type="password"
          autocomplete="new-password"
          required
          class="form-control"
          id="repeat-password"
          placeholder="repeat your password"
        />
      </div>
      <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
    <p>
      <span>Already have an account?&nbsp;</span>
      <a [routerLink]="['/auth/login']">Log in!</a>
    </p>
  </div>
</div>
